<%- include('../includes/start.ejs') %>
<body>
    <%- include('../includes/menu.ejs') %>
    <form action="/auth/logIn" method="post">
        <input type="text" name="userName" placeHolder="userName (mostafa)" />
        <input type="text" name="pass" placeHolder="password (123456789)" />
        <button type="submit"> LogIn ➡ </button>
    </form>
</body>
</html>

