<%- include('../includes/start.ejs') %>
<body>
    <%- include('../includes/menu.ejs') %>
    <form action="/auth/logIn" method="post">
        <input type="email" name="email" placeHolder="enter your email" />
        <input type="text" name="pass" placeHolder="enter your password" />
        <button type="submit"> LogIn ➡ </button>
    </form>
</body>
</html>

