<ul id="menu">
    <li><a href="/product/create">Add Product</a></li>
    <li><a href="/product/list">Product List</a></li>
    <li><a href="/product/user-list">My Product List</a></li>
    <li><a href="/cart/">My Cart</a></li>
</ul>
